@media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --background-header: #252527;
      --background-section: #1c1c1c;
      --background-elevated: #303032;
  
      --text-primary: #bfbfbf;
      --text-secondary: #888484;

      --text-link-hover: #f29766;
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --primary: #999999;
    }
  
    @media only screen and (max-width: 1200px) {
      
    }
}